body {
  margin: 0;
  font-size: 35px;
}

.calendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template: repeat(6, 100px)/repeat(7, 100px);
  grid-gap: 2px;
}

.calendar > div {
  justify-content: stretch;
  background-color: #eee;
  border: 1px solid black;
}

.calendar > div:hover {
  background-color: #f5c2cb;
  transform: translateY(-20px);
  transition: all 0.5s ease;
}

.calendar-30 > :last-child {
  display: none;
}

.calendar-29 > :last-child,
.calendar-29 > :nth-child(30) {
  display: none;
}

.calendar-28 > :last-child,
.calendar-28 > :nth-child(30),
.calendar-28 > :nth-child(29) {
  display: none;
}

.calendar > div::after {
  background-color: inherit;
  position: absolute;
  margin: 33px;
}

.calendar > div:nth-child(1)::after {
  content: "1";
}

.calendar > div:nth-child(2)::after {
  content: "2";
}

.calendar > div:nth-child(3)::after {
  content: "3";
}

.calendar > div:nth-child(4)::after {
  content: "4";
}

.calendar > div:nth-child(5)::after {
  content: "5";
}

.calendar > div:nth-child(6)::after {
  content: "6";
}

.calendar > div:nth-child(7)::after {
  content: "7";
}

.calendar > div:nth-child(8)::after {
  content: "8";
}

.calendar > div:nth-child(9)::after {
  content: "9";
}

.calendar > div:nth-child(10)::after {
  content: "10";
}

.calendar > div:nth-child(11)::after {
  content: "11";
}

.calendar > div:nth-child(12)::after {
  content: "12";
}

.calendar > div:nth-child(13)::after {
  content: "13";
}

.calendar > div:nth-child(14)::after {
  content: "14";
}

.calendar > div:nth-child(15)::after {
  content: "15";
}

.calendar > div:nth-child(16)::after {
  content: "16";
}

.calendar > div:nth-child(17)::after {
  content: "17";
}

.calendar > div:nth-child(18)::after {
  content: "18";
}

.calendar > div:nth-child(19)::after {
  content: "19";
}

.calendar > div:nth-child(20)::after {
  content: "20";
}

.calendar > div:nth-child(21)::after {
  content: "21";
}

.calendar > div:nth-child(22)::after {
  content: "22";
}

.calendar > div:nth-child(23)::after {
  content: "23";
}

.calendar > div:nth-child(24)::after {
  content: "24";
}

.calendar > div:nth-child(25)::after {
  content: "25";
}

.calendar > div:nth-child(26)::after {
  content: "26";
}

.calendar > div:nth-child(27)::after {
  content: "27";
}

.calendar > div:nth-child(28)::after {
  content: "28";
}

.calendar > div:nth-child(29)::after {
  content: "29";
}

.calendar > div:nth-child(30)::after {
  content: "30";
}

.calendar > div:nth-child(31)::after {
  content: "31";
}

.calendar-mon > :first-of-type {
  grid-column-start: 1;
}

.calendar-tue > :first-of-type {
  grid-column-start: 2;
}

.calendar-wed > :first-of-type {
  grid-column-start: 3;
}

.calendar-thu > :first-of-type {
  grid-column-start: 4;
}

.calendar-fri > :first-of-type {
  grid-column-start: 5;
}

.calendar-sat > :first-of-type {
  grid-column-start: 6;
}

.calendar-sun > :first-of-type {
  grid-column-start: 7;
}

/*# sourceMappingURL=main.css.map */
